*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
  height: 100vh;
  width: 100vw;
}
nav{
  height: 40px;
  background: #F8F8F8;
  display: flex;
  justify-content: center;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}
.nav-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90vw;
}
.nav-bar h3{
  color: #777;
  font-size: 14px;
  letter-spacing: 1px;
}
.nav-links{
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}
ul{
  list-style-type: none;
}
ul li a{
  text-decoration: none;  
  margin: 0 0 0 45px;
  color: lightslategray;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
ul li a:hover{
  color: #333D;
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.wrapper h2{
  background: #000000;
  color: #fff;
  padding: 16px;
  width: 99vw;
  border-radius: 25px;
  margin-bottom: 35px;
  font-size: 35px;
  letter-spacing: 1.5px;
  line-height: 50px;

}

span {
  color: brown;
  
}
.button{
  cursor: pointer;
  width: 38vw;
  height: 7.8vh;
  border-radius: 8px;
  border: 3px solid #000000;
  background: #fff;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 18px;
  padding-top: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
  display: inline-block;
  outline: none;
  transition: 0.2s 0s;
}
.button:hover{
  color: #fff;
  background: #000000;
}
.button:active{
  color: #fff;
  background: #000000;
}

@media screen and (min-width: 700px){
  nav {
    height: 60px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  }
  .nav-bar h3 {
    color: #777;
    font-size: 25px;
    letter-spacing: 1.5px;
  }
  ul li a {
    margin: 0 0 0 200px;
    letter-spacing: 1.5px;
    font-size: 35px;
    font-weight: 600;
    cursor: pointer;
  }
  .wrapper h2 {
    padding: 20px;
    width: 70vw;
    border-radius: 12px;
    margin-bottom: 45px;
    font-size: 53px;
    letter-spacing: 2px;
    line-height: 80px;
  }
  .button {
    cursor: pointer;
    width: 25vw;
    height: 4.5vh;
    border-radius: 8px;
    border: 3px solid #000000;
    background: #fff;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 18px;
    padding-top: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
  }
}